/* css styles */
.quarto-listing-category {
    font-size: 0.9em;
    color: #666;
}

.quarto-listing-category .category {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
}

.listing-date {
    color: #666;
}

.listing-title {
    font-size: 1.2em;
    color: inherit;
    text-decoration: none;
}

.listing-title:hover {
    text-decoration: underline;
}

.quarto-about-jolla {
  text-align: center;
}

.quarto-about-jolla h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.quarto-about-jolla p {
  max-width: 45em;
  margin: 1em auto;
  text-align: left;
}

.quarto-about-trestles {
  display: flex;
  flex-direction: column;
}

.quarto-about-trestles .quarto-title-block {
  order: -1;
}


.navbar {
  background-color: #959595 !important;
}

.navbar .nav-link {
  color: white !important;
  font-size: 20px !important;
}

.navbar-brand {
  color: white !important;
}

.site-header {
  text-align: left;
  padding: 10px 0;
}

.site-title {
  font-size: 28px !important;
  font-weight: bold !important;
  margin-bottom: 5px;
}

.site-subtitle {
  font-size: 20px !important;
  line-height: 0.6 !important;
  display: inline-block;
}

.navbar-title {
  text-align: left;
  padding: 10px 0;
}

.navbar-title .name {
  font-size: 28px !important;
  font-weight: bold !important;
  color: white !important;
  margin-bottom: 5px;
}

.navbar-title .affiliation {
  font-size: 20px !important;
  color: white !important;
  line-height: 1.4;

}
p {
  text-indent: 2em;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  text-indent: 0;
}

